<% layout('layout') -%>


<div class="custom-container" ng-controller="UserLoginCtrl">
  <div class="page-header">
    <h3>Sign in</h3>
  </div>
  <form novalidate method="POST" action="/login" name="loginForm">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

    <div class="row">
      <div class="col-sm-7">
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control" required ng-model="login"/>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" class="form-control" required ng-model="psw"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">
            <i class="fa fa-user"></i>Login
          </button>
          <a href="/forgot" class="btn btn-link">Forgot your password?</a>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
        <a href="/auth/twitter" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
        <a href="/auth/google" class="btn btn-block btn-google-plus btn-social"><i class="fa fa-google-plus"></i>Sign in with Google</a>
        <a href="/auth/github" class="btn btn-block btn-github btn-social"><i class="fa fa-github"></i>Sign in with GitHub</a>
        <a href="/auth/linkedin" class="btn btn-block btn-linkedin btn-social"><i class="fa fa-linkedin"></i>Sign in with LinkedIn</a>
      </div>
    </div>
  </form>
</div>