<% layout('layout') -%>

<div class="custom-container" ng-controller="UserResetPswCtrl">
	<div class="page-header">
		<h3>Reset Password</h3>
	</div>
  <form novalidate method="POST" action="" name="resetForm">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="password" placeholder="New password" autofocus="autofocus" class="form-control" ng-model="psw" required/>
	    <div password-strength value="psw"></div>
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" placeholder="Confirm password" class="form-control" ng-model="psw1" required/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-reset" ng-disabled="resetForm.$invalid || psw != psw1">
	      <i class="fa fa-keyboard-o"></i>Change Password
      </button>
    </div>
  </form>
</div>